/*Estilo aplicado a todo el sitio*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f5f5f5;
}
/*Fin de estilo aplicado a todo el sitio*/

/*Estilo del botón flotante para volver al inicio sin scroll*/
/*.flotante {
  display:scroll;
      position:fixed;
      bottom:320px;
      right:0px;
}

.flotante img {
  height: 48px;
}*/
/*Fin estilo del botón flotante para volver al inicio sin scroll*/

/*Estilo de cabecera*/
header {
  display: flex;
  padding: 20px 50px 10px 50px;
  justify-content: space-between;
  box-shadow: 0px 10px 18px 0px rgba(179, 179, 179, 1); /*Sombra de la cabecera del sitio*/
}

.header_right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
}

.header_right img { /*Tamaño de Iconos de redes*/
  height: 36px;
  width: 36px;
}

hr { /*Linea gradiente de cabecera*/
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(213, 40, 49, 0.9472163865546218) 0%,
    rgba(121, 6, 20, 1) 20%,
    rgba(228, 255, 0, 1) 40%,
    rgba(183, 195, 33, 1) 60%,
    rgba(29, 36, 214, 1) 80%,
    rgba(41, 166, 167, 1) 100%
  );
  border-radius: 25px;
  width: 720px;
  height: 10px;
}
/*Fin de estilo de la cabecera*/

/*Estilo central de la pagina underConstruction.html*/
.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Fin estilo central de la pagina underConstruction.html*/

/*Estilo de clase principal*/
.principal {
  display: flex;
}
/*Fin estilo de clase principal*/

/*Estilo del menu de navegación desplegable*/
#menu ul,
li {
  list-style: none;
}

#menu ul ul {
  visibility: hidden;
  position: absolute;
}

#menu ul li:hover > ul {
  visibility: visible;
}

#menu ul ul {
  top: 0;
  left: 100%;
}

#menu span,
#menu a {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
}

#menu li {
  background: #dddddd;
}

#menu li:hover {
  background: #f6f6f6;
}

#menu a {
  color: #666666;
  line-height: 160%;
  padding: 11px 28px 11px 28px;
  width: 253px;
}

#menu ul ul li {
  background: #f6f6f6;
}

#menu ul ul li:hover {
  background: #dddddd;
}

#menu ul ul li:hover a {
  color: #666666;
}

#menu ul ul li ul li {
  background: #dddddd;
}

#menu ul ul li ul li:hover {
  background: #b7b7b7;
}

#menu .has-sub {
  position: relative;
}
/*Fin estilo del menu de navegación desplegable*/

/*Estilo desplegable intendente*/
#menuIntendencia ul ul {
  visibility: hidden;
  position: absolute;
}

#menuIntendencia ul li:hover > ul {
  visibility: visible;
  pointer-events: none;
}

#menuIntendencia span,
#menuIntendencia a {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
}

#menuIntendencia a {
  padding: 11px 28px 11px 28px;
}

#menuIntendencia ul ul li {
  background: #f6f6f6;
}

#menuIntendencia .has-sub {
  position: relative;
}
/*Fin estilo desplegable intendente*/

/*Estilo de barra lateral izquierda*/
aside {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 0px 40px;
  align-items: center;
}

aside p {
  font-size: larger;
}

.banners_aside img {
  height: 98px;
  width: 218px;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

aside img {
  border-radius: 25px;
}
/*Fin estilo de barra lateral izquierda*/

/*Estilo Noticias*/
.noticias {
padding: 0px 50px 0px 0px;
}

.noticias h1 {
  text-align: center;
}

.noticias img { /*Estilo de imagen de las tarjetas*/
  vertical-align: middle;
  border-style: none;
  padding: 5px;
  width: 100%;
  height: 20rem;
  border-radius: 10px;
}

.card { /*Estilo de las tarjetas*/
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  text-align: center;
  padding: 5px 0px;
}

.card-header { /*Cabecera de la tarjeta*/
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer { /*Pie de tarjeta*/
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-columns { /*Cantidad de columnas y espaciado entre las mismas*/
  column-count: 3;
  column-gap: 1rem;
}
/*Fin estilo Noticias*/

/*Estilo de banners informativos centrales*/
.informativos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informativos hr {
  background: black;
  height: 5px;
}

.informativos img {
  height: 312px;
  width: 297px;
  border-radius: 25px;
  padding: 10px;
  align-items: end;
}
/*Fin estilo de banners informativos centrales*/

/*Estilo Redes RSS*/
.social_rss {
  display: flex;
  justify-content: center;
  padding: 30px;
}
/*Fin estilo redes RSS*/

/*Estilo sección contacto*/
.contacto { /*Estilo de la sección*/
  display: flex;
  background-color: #d9d9d9;
  flex-direction: row;
  justify-content: space-between;
}

.mapa { /*Estilo del mapa*/
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.formulario_contacto { /*Estilo de formulario de contacto*/
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

form { /*Disposición del formulario de contacto*/
  display: flex;
  background-color: #212121;
  border-radius: 15px;
  width: 650px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 15px;
}

input,
textarea,
select { /*Atributos de etiqueta*/
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

input:focus,
textarea:focus,
select:focus { /*Atributo de foco*/
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}

.send {
  /*Botón de envió*/
  width: 10em;
  position: relative;
  height: 3em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

.send::after {
  /*Botón de envió antes*/
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
}

.send::before {
  /*Botón de envió después*/
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
}

.send:hover::before,
.send:hover::after {
  /*Botón de envió durante*/
  transform: scale(0);
}

.send:hover {
  /*Botón de envió encima*/
  box-shadow: inset 0px 0px 25px #1479ea;
}
/*Fin estilo sección contacto*/

/*Estilo Footer*/
footer { /*Disposición de la sección*/
  display: flex;
  font-size: small;
  background-color: black;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

footer p {
  padding: 2px;
  color: white;
}

.devs {
  font-size: smaller;
}
/*Fin estilo footer*/

/*Media Query - Responsive style*/
@media (max-width: 576px) {
  /*Smartphone Display*/
}

@media (max-width: 768px) {
  /*Tablet Display*/
}

@media (max-width: 992px) {
  /*Landscape Tablet Display*/
}